body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* .main-background{
  background-color: #f1f1f1;
  z-index: -10;
  width: 1280px;
  position: absolute;
} */



a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.features-caption{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.slogan{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  text-align: center;
}
.features-caption{
  background-color: #ffffff;
  text-align: center;
}
}
.features-list {
  list-style: none;
}
.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.full-width {
  color: #ffffff;
  background-color: #81b3d2;
}
.full-width h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}
.evidence-list{
list-style: none;
background-color: #ffffff;
}
.evidence-item{
text-align: center;
}
.evidence-item h4{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}
.evidence-item p{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

}
.columns{
  background-color: #eeeeee
}
.columns h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.searching {
  background-color: #ffffff;
}
.searching b{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.searching p {
  font-size: 14px;
  line-height: 24;
  font-weight: 400;
}




/* Форма */
.open-form-button{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.open-form-button:hover,
.open-form-button:focus {
  background-color: #604e43;
}
.open-form-button:active{
  background-color: #503e33;
  color: #928a85;
}
.open-calendar,
.addition,
.subtraction {
  color: #a9a9a9
}
.open-calendar:hover,
.open-calendar:focus,
.addition:hover,
.addition:focus,
.subtraction:hover,
.subtraction:focus {
  color: #000000
}
.open-calendar:active,
.addition:active,
.subtraction:active {
  color: #81b3d2
}
.form-searching-item{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.form-searching-item input{
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid  #f2f2f2;
  text-transform: uppercase;

}
.form-searching-item input:hover{
  background-color: #ebebeb;
  border: 2px solid  #ebebeb;
}
.form-searching-item input:focus{
  background-color: transparent;
  border: 2px solid  #e5e5e5;
}

.searching-button{
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.searching-button:hover,
.searching-button:focus{
  background-color: #669ec0;
}
.searching-button:active{
  background-color: #5496bd;
  color: #5496bd
}








/* Inner page */
.filters {
  background-color: #769ec2;
  background-image: url("../img/background-inner-1.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;

}
.filters fieldset {
  border: none;
}
.filters-caption{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}
.filters-form-list{
  list-style: none;
}
.filters-form-item{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}
.range-filter {
  width: 240px;
  margin: 50px auto; /* для демонстрации */
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}


.filters-button{
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
}







/*  сортировка*/
.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.sorting-list{
    list-style: none;
}
.sorting-item{
  color: #000000;
 border-bottom: 1px dotted #000000;
}
.sorting-item:hover,
.sorting-item:focus{
color:  #81b3d2;
border-bottom: 1px dotted #81b3d2;
}
.sorting-item:active{
  color:  #81b3d2;
  border: none;
}

.sorting-item-current{
  color: #81b3d2
}
.sorting-switch{
}






.catalog-left-content h3{
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}
.catalog-left-content h3:hover,
.catalog-left-content h3:focus{
  color: #81b3d2;
}
.catalog-left-content h3:active{
  color: #cacaca
}
.price{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.button-info{
background-color: #81b3d2;
font-size: 14px;
line-height: 21px;
font-weight: 700;
color: #ffffff;

}
.button-info:hover,
.button-info:focus{
background-color: #669ec0
}
.button-info:active{
  background-color: #5496bd
}
.button-reservation{

font-size: 14px;
line-height: 21px;
font-weight: 700;
color: #ffffff;
background-color:  #766357
}
.button-reservation:hover,
.button-reservation:focus{
background-color: #604e43
}
.button-reservation:active{
  background-color: #503e33
}
.rating-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
background-color: #f2f2f2;
}





                          /*  СЕТКА */
}
.main-header-logo {
  width: 140px;
  height: 72px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}



.promo {
  display: block;

  margin-bottom: 53px;

}
.promo-image {
  margin: 0;
  padding: 0;
}
.slogan {
  margin: 0;
    margin-bottom: 29px;
    padding: 0;
    width: 441px;
    text-align: center;
    margin-left: 378px;
}
.features-caption{
  margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.features {
}

.feutures-list{

  list-style: none;
  margin: 0;
  padding: 0;
}
.feutures-list{
  padding: 0 !important;
}
.main-image-1{
  margin: 0;
  padding: 0;
}
.main-image-2{
  margin: 0;
  padding: 0;
}
.main-image-1 img,
.main-image-2 img{
  display: block;
  margin: 0;
  padding: 0;
}
.feuture-item:first-child {

}
.feuture-item:nth-child(2){
  display: flex;
}
.feuture-item{
  list-style: none;
}
.evidence-list{

  display: flex;
  margin: 0;
  list-style: none;
  padding: 0 !important;
  margin: 0;
}
.evidence-item{
  width: 400px;

  margin: 0;
  padding: 0;
}
.last-feutures {

  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 54px;
  }
.columns{
  width: 400px;

}
.feuture-container{

  display: flex;
  margin: 0;
  padding: 0;
}
.feuture-item-head{

  width: 400px;
}

.main-image-2{
  order: -1;
}
.searching{
  text-align: center;
}
.map img{
  position: absolute;
  z-index: -1;
}





.main-footer {
  display: flex;
}
.main-footer p{
  margin: 0;
  padding: 0;
}
.hashtag {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}


.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}





/* INNER СЕТКА */
.inner-container{
  min-height: 757px;
}
.filters-form{
  min-height: 217px;
  display: flex;
  width: 1200px;
}
.infrastructure{
  width: 260px;
  min-height: 217px;
}
.accommodation{
  margin-left: 45px;
  width: 213px;
  min-height: 217px;
}
.filter-buttton{
  margin-left: 284px;
  width: 328px;
  margin-right: auto;
}
.sorting{
  min-height: 87px;
}
.sorting-list{
  display: flex;
}
.catalog-list{
  min-height: 454px;
  display: flex;
  flex-direction: column;
}
.catalog-list li{
  min-height: 152px;
  display: flex;
}
.catalog-hotel-image{
  width: 207px;
}
.catalog-left-content{
  width: 277px;
  margin-left: 30px;
}
.catalog-right-content{
  margin-left: 372px;
  width: 313px;
}



.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 -5px 0 5px #f1f1f1;
  box-shadow: 0 -40px 0 40px #f2f2f2;

}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* Микроразметка */

.main-header {
  position: relative;

}

.main-header-logo {
  position: absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
}

.main-navigation {
  padding: 0 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}


.site-navigation-item {
  width: 240px;
}

.site-navigation-item:nth-child(2) {
  margin-right: auto;
}

.site-navigation-item.right {
 text-align: right;
}





.feuture-item-head-1{
  text-align: center;
  padding: 27px 51px 0px 50px;
}
.feuture-item-head-1 h3{
  display: block;
  width: 120px;
  margin-left: 90px;
  margin-bottom: 24px;

}
.feuture-item-number-1{
margin-bottom: 22px;
}
.feuture-item-description-1{
  width: 300px;
}



.feuture-item-head-2{
  text-align: center;
  padding: 26px 51px 0px 50px;
}
.feuture-item-head-2 h3{
  width: 151px;
  margin-left: 75px;
  margin-bottom: 24px;
}
.feuture-item-number-2{
  margin-bottom: 23px;

}
.feuture-item-description-2{
  width: 303px;
}
.evidence-item{
}

.evidence-item-1{
  padding: 161px 51px 81px 49px;
  text-align: center;
}
.evidence-item-1 h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.evidence-item-1 p {
  width: 299px;
  margin: 0;
  padding: 0;
}
.evidence-item-2{
  padding: 161px 51px 82px 49px;
  text-align: center;
}
.evidence-item-2 h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.evidence-item-2 p {
  width: 299px;
  margin: 0;
  padding: 0;
}
.evidence-item-3{
  padding: 161px 51px 81px 49px;
  text-align: center;
}
.evidence-item-3 h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.evidence-item-3 p {
  width: 299px;
  margin: 0;
  padding: 0;
}


.columns{
  text-align:center;
  padding-top: 48px;


}
.columns h3{
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

}
.column-1 h3{
width: 118px;
margin-left: ;
margin-left: 140px;
}
.feuture-item-number {
  margin-bottom: 22px;

}
.feuture-item-description-3{
width: 211px;
margin-left: 93px;
}

.column-2 h3{
width: 102px;
margin-left: 149px ;
}
.feuture-item-number {

}
.feuture-item-description-4{
width: 264px;
margin-left: 68px ;
}

.column-3 h3{
width: 102px;
margin-left: 149px ;
}
.feuture-item-number {

}
.feuture-item-description-5{
width: 249px;
margin-left: 74px  ;
}
.columns {
  padding-bottom: 45px;
}
.searching-info b {
  display: block;
  margin-top: -5px;
  margin-bottom: 23px;

}
.searching-info div{
line-height: 24px;
margin-bottom: 44px;
}

.features{
  margin-bottom: 57px;
}





/*  ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ */
.evidence-item{
  position: relative;
}
.evidence-item-1 h4::before{
  content: "";

 position: absolute;
 top: 61px;
 left: 162px;

 width: 75px;
 height: 75px;

 background-image: url("../img/icon-1.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}
.evidence-item-2 h4::before{
  content: "";

 position: absolute;
 top: 61px;
 left: 162px;

 width: 74px;
 height: 76px;

 background-image: url("../img/icon-3.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}
.evidence-item-3 h4::before{
  content: "";

 position: absolute;
 top: 57px;
 left: 168px;

 width: 85px;
 height: 85px;

 background-image: url("../img/icon-2.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}










/* footer стили */

.main-footer {
  margin-top: 477px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
      padding-bottom: 37px;
      padding-top: 36px;
}

.hashtag{
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 132px;
}

.footer-social {
  text-align: center;
  list-style: none;
  margin-left: 72px;

}
.footer-social ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-button{
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-button:hover,
.social-button:focus{
  background-color: #669ec0
}
.social-button:active{
  background-color: #5496bd
}
.footer-copyright{
  text-align: center;

  margin-left: auto;
  width: 204px;
  display: flex;
  margin-left: 233px;
    margin-top: 12px;

}
.footer-copyright b {
font-size: 14px;
line-height: 26px;
font-weight: 400;
margin-right: 8px
}
.footer-copyright-button{
  width: 115px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: -9px;
}
.footer-copyright-button:hover path,
.footer-copyright-button:focus path{
  fill: #81b3d2;
}
.footer-copyright-button:active path{
  fill :#bdbbbc
}









/* Микроразметка формы */
.open-form-button {
  display: block;
  width: 568px;
  height: 86px;
  margin-left: 316px;


}
.form-searching{
  /* display: none; */
}

.modal {
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  position: absolute;
  margin-top: 2px;
}
.search-modal {
  padding: 55px;
  left: 316px;
  width: 568px;
}
.form-searching div{

}
.form-searching-item-1{
  margin-bottom: 29px;
}

.form-searching-item-2{
  margin-bottom: 30px;
}
.quantity-block {
  display: flex;
  margin-bottom: 54px;
  width: 459px;
  justify-content: space-between;
}
 .form-searching-item-3{
   width: 227px;
 }
 .form-searching-item-4{
   width: 179px
 }

.form-searching label{
  font-weight: 700;
}
.date{
  box-sizing: border-box;
  width: 346px;
  padding: 4px 13px;
  padding-right: 51px;

  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: 0;
  border: 2px solid #f2f2f2;
  outline: none;
}
.number {
  box-sizing: border-box;
  width: 114px;
  padding: 4px 38px 5px 38px;

  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: 0;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}
.date:hover,
.number:hover{
  background-color: #ebebeb;
}
.date:focus,
.number:focus{
  background-color: #ffffff;
}

.form-searching-item-1 label{
    margin-right: 19px;
}
.form-searching-item-2 label{
    margin-right: 16px;
}
.form-searching-item-3 label{
    margin-right: 37px;
}
.form-searching-item-4 label{
    margin-right: 23px;
}

/* Стили КНОПОК В ФОРМЕ */
.form-searching div  {
  position: relative;
}
.form-searching div button{
  position: absolute;
}
.searching-button {
  width: 458px;
  height: 58px;
}
.open-calendar{
  width: 38px;
  height: 38px;

  font-size: 0;

  background-color: #f2f2f2;
  border: 0;

  cursor: pointer;
  right: 0;
  top: 0;
}
.subtraction {
  width: 38px;
  height: 38px;

  font-size: 0;

  background-color: #f2f2f2;
  border: 0;

  cursor: pointer;
  top: 0;
  left: 112px;
}
.form-searching-item-4 .subtraction{
  left: 65px;
}
.subtraction::before {
  content: "";

  position: absolute;

  width: 12px;
  height: 3px;
  left: 13px;
  top: 18px;
  background-color: #a9a9a9;
}
.addition {
  width: 38px;
  height: 38px;

  font-size: 0;

  background-color: #f2f2f2;
  border: 0;

  cursor: pointer;
  right: 0;
  top: 0;
}
.addition::before,
.addition::after {
  content: "";

  position: absolute;
  right: 13px;
  top: 18px;
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}
.addition::before{
  transform: rotate(90deg);
}

.addition:hover::before,
.addition:hover::after,
.addition:focus::before,
.addition:focus::after,
.subtraction:hover::before,
.subtraction:focus::before
{
  background-color: #000000;
}
.addition:active::before,
.addition:active::after,
.subtraction:active::before
{
  background-color: #81b3d2;
}
.open-calendar path{
  fill: #cacaca;
}
.open-calendar:hover path,
.open-calendar:focus path{
  fill: #000000;
}
.open-calendar:active path{
  fill: #81b3d2;
}
